html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Arial",sans-serif;
    padding: 40px;
    background-color: #f1f1f1;
}

/* кнопка */
.btn {
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: green;
    color: wheat;
    padding: 13px 20px;
    transition: background-color .1s;
}

.btn:hover{
background-color: chartreuse;
}

.btn:active{
    background-color: red;
}

.btn:focus{
    outline: 1px solid seagreen;
    outline-offset: 1px;
}

/* Рейтинг */

.rating{
display: flex;
}

.rating__star:not(:last-child){
margin-right: 6px;
}

/*Мадикаторы размера*/
.rating_star_zise_s{
    text-replace: scale(1.1);
}

.rating_star_zise_m{
    transform: scale(1.2);
}

.rating_star_zise_l{
    transform: scale(1.3);
}
 /* карточка */

 .card {
  background-color: moccasin;
  border-radius: 15px;
  overflow: hidden;
 }

 .card__img {
    display: block;
    width: 100%;
    height: 217px;
    object-fit: cover;

 }

 .card__body{
    padding: 4px 3px;
 }

 .card__price-rating{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
 }

 .card__price{
    font-size: 20px;
    font-weight: 700;
 }

 .card__rating{
    margin-left: 299px;
    
 }

 .card__title{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
 }

 .card__location {
    display: block;
    margin-bottom: 18px;
    font-size: 16px;
    color: #999;
 }

 .card_promo{
    outline: 5px solid #ffB800;
 }
 
 .card_promo::before{
    content: "АКЦИЯ";
 }



/*Сетка карточек*/
 .cards-list{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr   0fr;
    list-style-type: none;
 }

 .cards-list-item{
    background-color: aqua;
 }