.banner{
    background-image: url("../../css/components/assets/images/logo1.png");
    height: 830px;
    background-repeat: no-repeat;
    background-position: center;
}

.banner__cotainer{
    height: 100%;
    display: flex;
    align-items: center;
}

.banner__content{
    width: 595px;
    height: auto;
}

.banner__content h2{
    font-family: var(--second-font);
    color: var(--global);
    font-size: 80px;
    list-spacing: 022px;
    margin-bottom: 19px
}

.banner__content p{
    color: var(--second-text-color);
    font-size: 22px;
    font-weight: 400;
    line-spacing: 0.22px;
    margin-bottom: 35px;
}